################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################


/.vs
/CalcIR.Web/bin
/CalcIR.Web/obj
/CalcIR.BD/bin
/CalcIR.BD/obj
/CalcIR.Data/bin
/CalcIR.Data/obj
/CalcIR.Domain/obj
/CalcIR.Domain/bin
/CalcIR.Repository/bin
/CalcIR.Repository/obj
/CalcIR.Service/bin
/CalcIR.Service/obj
/CalcIR.Service.Test/bin
/CalcIR.Service.Test/obj
