################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/CalcIR.Web/bin
/CalcIR.Web/obj
/.vs
/CalcIR.BD/bin
/CalcIR.BD/obj
*.dbmdl
/CalcIR.Data/bin
/CalcIR.Data/obj
/CalcIR.BD/CalcIR.BD.jfm
